body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.container {
    text-align: center;
}

.container img {
    max-width: 250px;
    height: auto;
}

.container p {
    font-size: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--tg-theme-button-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45a049;
}

.alien_message {
    color: green;
    font-family: cursive, sans-serif;
}

.recruit_message {
    text-align: center;
    color: green;
    font-size: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group input[type="text"] {
    width: 250px;
    height: 40px;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-group input[type="text"]:focus {
    font-size: 18px;
}

.form-group button.btn {
    width: 250px; /* Adjust the width as needed */
    height: 60px; /* Adjust the height as needed */
    margin-top: 10px; /* Add margin at the top */
    font-size: 18px; /* Adjust the font size as needed */
}